__pycache__/

*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
uploads/
ax/


# Translations
*.mo
*.pot

.env
.DS_Store
.venv

.idea
.vscode

logs/*
media/
app/static/
/venv
/.vs/config
/api.pyproj.user
/api.pyproj
/obj/Debug
/bin
